form {
    display: block;
    margin: auto;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

}

form input {
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;

}